.doctor-detail-container {
    //height: 500px;
    // border: 1px solid red;

    margin: 0 280px 0 300px;

    .intro-doctor {
        display      : flex;
        padding      : 20px;
        margin-top   : 30px;
        margin-bottom: 30px;
        border       : 1px solid rgba(113, 111, 111, 0.153);

        background-color: rgba(239, 236, 233, 0.178);

        .content-left {
            width        : 150px;
            height       : 150px;
            border-radius: 50%;
            background   : center center/cover no-repeat;
            margin-right : 20px;
        }

        .content-right {

            width           : 700px;
            //border        : 1px solid blue;
            display         : flex;
            flex-direction  : column;
            padding-left    : 10px;

            .up {
                font-size  : 20px;
                font-weight: 600;
            }

            .down {
                font-size  : 15px;
                font-weight: 300;
                padding-top: 10px;

                .like-share-plugin {
                    margin: 10px 0 20px 0;
                }
            }
        }


    }

    .schedule-doctor {
        margin    : 0 100px;
        display   : flex;
        padding   : 10px 0;
        min-height: 200px;
        // border : 1px solid red;

        .content-left {
            width: 50%;
        }

        .content-right {
            width          : 50%;
            justify-content: center;

        }
    }

    .detail-infor-container {
        border            : 1px solid rgba(113, 111, 111, 0.153);
        background-color  : rgba(239, 236, 233, 0.173);
        //border          : 1px solid blue;
        padding           : 20px;

        img {
            margin      : 20px;
            display     : block;
            margin-left : auto;
            margin-right: auto;
            width       : 80%;
        }

        img:hover {
            box-shadow: 0 0 2px 1px rgba(218, 97, 101, 0.5);
        }

    }

    .comment-doctor {
        padding: 10px 100px;
    }
}